.exercise-wrapper {
  text-align: left;
}

.exercise-row {
  display: flex;
  align-items: center;
  gap: 12px;
}

.exercise-name {
  min-width: 70px;
}

.exercise-icons {
  display: flex;
  flex: 1;
  gap: 10px;
}

.exercise-time {
  white-space: nowrap;
  margin-left: auto;
}
