.calendar .event-wrapper td {
  vertical-align: middle;
}

.calendar .symbol span {
  margin-right: 5px;
}

.calendar .title {
  padding: 0 4px;
}

.calendar .time {
  padding-left: 20px;
  text-align: right;
}
